* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 100;
}
h1 {
    font-size: 1.9rem;
}
h2 {
    font-size: 1.3rem;
}
p {
    font-size: 0.8rem;
    color: rgb(140, 140, 140);
    line-height: 25px;
    margin: 20px 0;
}
button {
    background: transparent;
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 2px;
    border: 1px solid rgb(205, 205, 205);
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s all;
}
button:hover {
    background: rgb(205, 205, 205);
    color: white;
}
header {
    display: grid;
    grid-template-columns: 50% 50%;
    background: url(./assets/img/banner.jpg) center/cover;
    height: 450px;
    border-bottom: 1px solid rgb(216, 216, 216);
}
header article {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header article div {
    width: 80%;
}
.section-1 {
    display: grid;
    grid-template-columns: 35% 65%;
    border-bottom: 1px solid rgb(205, 205, 205);
}
.section-1 .img-1 {
    background: url(./assets/img/img-left.jpg) center/cover;
}
.section-2 {
    display: grid;
    grid-template-columns: 65% 35%;
    border-bottom: 1px solid rgb(205, 205, 205);
}
.section-2 .img-2 {
    background: url(./assets/img/img-right.jpg) center/cover;
}
.section-1 , .section-2 {
    height: 250px;
}
section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section article div {
    width: 80%;
}
.form {
    width: 65%;
    max-width: 600px;
    margin: auto;
    padding: 30px 0;
    border-bottom: 1px solid rgb(205, 205, 205);
}
.form form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "ti ti"
        "na em"
        "me me"
        "bu bu"
    ;
    height: 500px;
}
.form h2 {
    grid-area: ti;
    text-align: center;
}
.form .name {
    grid-area: na;
}
.form .email {
    grid-area: em;
}
.form .message {
    grid-area: me;
    height: 230px;
}
.form button {
    grid-area: bu;
    width: 130px;
    height: 35px;
    margin: auto;
}
.form div {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
label {
    text-align: center;
    height: 30px;
    font-size: 0.9rem;
    font-weight: 300;
}
.name, .email {
    width: 95%;
}
textarea {
    resize: none;
    width: 97.3%;
    height: 200px;
}
input {
    height: 30px;
}
input , textarea {
    border: 1px solid rgb(205, 205, 205);
    border-radius: 3px;
}
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
}
.contact div {
    border: 1px solid rgb(205, 205, 205);
    padding: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.contact div:hover {
    cursor: pointer;
    color: white;
    background: black;
}
.contact i {
    font-size: 0.9rem;
}
/* @media screen and (max-width: 650px) {
    header,
    .section-1,
    .section-2 {
        display: block;
    }
    header {
        height: auto;
    }
    header img {
        height: 50vh;
        margin-top: 30px;
    }
    section article {
        padding: 20px 0;
    }
    .img-1,
    .img-2 {
        height: 50vh;
    }
} */
